@tailwind base;
@tailwind components;
@tailwind utilities;





html {
    background-color: theme('colors.beige');
}

body {
    @apply font-jost;
    color: theme('colors.dark');


}

header {
    color: theme('colors.light-grey');
    z-index: 1000;
}



/* LOGO ANIM */
.logo-effect span {
    padding: 10px 0;
    margin: 0 20px;
    text-shadow: none;
    position: relative;
    white-space: nowrap;
    color: transparent;
    font-weight: 300;
}

.logo-effect span::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0;
    width: 0;
    color: theme('colors.light-grey');
    content: attr(data-hover);
    transition: width 0.5s;
}

.logo-effect:hover span::before {
    width: 100%;
}

/* NAV ANIM */
.link-effect {
    overflow: hidden;

}

.link-effect a {
    overflow: hidden;
    padding: 20px;
    height: 1em;
    font-weight: 300;

}

.link-effect a span {
    position: relative;
    display: inline-block;
    transition: 0.3s;
}

.link-effect a span::before {
    color: theme('colors.grey');
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.link-effect a:hover span {
    transform: translateY(-100%);
}

.local li {
    position: relative;

    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.local li:not(:last-child)::after {
    content: '•';
    /* Bullet point character */


    color: theme('colors.light');
}

/* SERVICES */

.pill-container,
.pill-container img {
    aspect-ratio: 65/100;
}


/* WORKS */
.filters span {
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 350;

}



.cover {
    -webkit-clip-path: inset(0 round 10px);
    clip-path: inset(0 round 10px);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.cover img {
    overflow: hidden;
    position: relative;
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.work-card .cover:hover {
    -webkit-clip-path: inset(5px 10px round 10px);
    clip-path: inset(5px 10px round 10px);

}

.work-card .cover:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.work-card .cover:not(:hover) img {
    filter: grayscale(100%);
}


/* Selected works */
.selected-card .cover {
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.selected-card .cover:hover {
    -webkit-transform: scale(1);
    /* Reset scale to 1 */
    -ms-transform: scale(1);
    transform: scale(1);
    height: 100%;
}

.selected-card .cover:hover img {
    filter: grayscale(100);
}

.selected-card .cover:hover .hover {
    opacity: 1;
    transform: translateY(0px);
}


.selected-card .hover {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.selected-card:hover h2 {
    color: theme('colors.blue');
}